/*---------------------
  Shop Cart
-----------------------*/
.shoping-cart {
    padding-top: 80px;
    padding-bottom: 80px;
}

.shoping__cart__table {
    margin-bottom: 30px;

    table {
        width: 100%;
        text-align: center;

        thead {

            tr {
                border-bottom: 1px solid var(--border);
            }

            th {
                font-size: 20px;
                font-weight: 700;
                color: var(--normal-color);
                padding-bottom: 20px;

                &.shoping__product {
                    text-align: left;
                }
            }
        }

        tbody {

            tr {
                
                td {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    border-bottom: 1px solid var(--border);
                    // display: flex;
                    align-items: center;

                    &.shoping__cart__item {
                        // width: 630px;
                        text-align: left;

                        img {
                            display: inline-block;
                            margin-right: 25px;
                        }

                        h5 {
                            color: var(--normal-color);
                            display: inline-block;
                        }
                    }

                    &.shoping__cart__price {
                        font-size: 18px;
                        color: var(--normal-color);
                        font-weight: 700;
                        // width: 100px;
                    }

                    &.shoping__cart__total {
                        font-size: 18px;
                        color: var(--normal-color);
                        font-weight: 700;
                        // width: 110px;
                    }

                    &.shoping__cart__item__close {
                        text-align: right;

                        svg {
                            font-size: 14px;
                            color: #b2b2b2;
                            cursor: pointer;
                        }
                    }

                    &.shoping__cart__quantity {
                        .pro-qty {
                            position: relative;
                            background: var(--background);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 120px;
                            height: 40px;
                            padding: 0 12px;
                            margin: 0 auto;

                            input {
                                font-size: 16px;
                                color: var(--para-color);
                                border: none;
                                background: var(--background);
                                text-align: center;
                                width: 100%;

                                &::placeholder {
                                    color: var(--normal-color);
                                }
                            }

                            .qtybtn {
                                font-size: 16px;
                                color: var(--para-color);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.primary-btn.cart-btn {
    color: var(--para-color);
    padding: 14px 30px 12px;
    background: var(--background);

    span {
        font-size: 14px;
    }

    &.cart-btn-right {
        float: right;
    }
}

.shoping__continue {}

.shoping__discount {
    margin-top: 45px;

    h5 {
        font-size: 20px;
        color: var(--normal-color);
        font-weight: 700;
        margin-bottom: 25px;
    }

    form {

        input {
            width: 255px;
            height: 46px;
            border: 1px solid #cccccc;
            font-size: 16px;
            color: #b2b2b2;
            text-align: center;
            display: inline-block;
            margin-right: 15px;

            &::placeholder {
                color: #b2b2b2;
            }
        }

        button {
            padding: 15px 30px 11px;
            font-size: 12px;
            letter-spacing: 4px;
            background: var(--para-color);
        }
    }
}

.shoping__checkout {
    background: var(--background);
    padding: 30px;
    padding-top: 20px;
    margin-top: 50px;

    h5 {
        color: var(--normal-color);
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 28px;
    }

    ul {
        margin-bottom: 28px;

        li {
            font-size: 16px;
            color: var(--normal-color);
            font-weight: 700;
            list-style: none;
            overflow: hidden;
            border-bottom: 1px solid var(--border);
            padding-bottom: 13px;
            margin-bottom: 18px;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
                margin-bottom: 0;
            }

            span {
                font-size: 18px;
                color: #dd2222;
                float: right;
            }
        }
    }

    .primary-btn {
        display: block;
        text-align: center;
    }
}


.shoping__cart__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        color: #6f6f6f;
        background-color: #f5f5f5;
        letter-spacing: 1.8px;

        svg {
            margin-right: 10px;
        }
    }
}

.wrapper__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}