.wrap-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}