.wrap-btn {
    
}

.primary {
    font-size: 14px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}
.flex {
    display: flex;
    margin: 0 auto;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.quantity {
    font-size: 14px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 27px 8px;
    background: #7fad39;
    border: none;
}