// .filter__item {
//     padding-top: 45px;
//     border-top: 1px solid var(--border);
//     padding-bottom: 20px;
//     margin-top: 50px;
// }
.wrapper-img {
    img {
        width: 100%;
    }
}

// --------Product---------//

.product__item {
    margin-bottom: 50px;

    &:hover {

        .product__item__pic {

            .product__item__pic__hover {
                bottom: 20px;
            }
        }
    }
}

.product__item__pic {
    position: relative;
    overflow: hidden;
}

.product__item__price {
    font-weight: bold;
    font-size: 18px;
}

.product__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    transition: all 0.5s;

}

.product__item__text {
    text-align: center;
    padding-top: 15px;

    h5 {
        color: var(--heading-color)-2;
        font-weight: 400;
        font-size: 16px;

        a {
            line-height: 1.8rem;
            margin: 0 auto;
            height: 3.6rem;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
}

.product__pagination {
    padding-top: 10px;

    a {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #b2b2b2;
        font-size: 14px;
        color: #b2b2b2;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        margin-right: 16px;
        transition: all 0.3s;

        &:hover {
            background: var(--primary-color);
            border-color: var(--primary-color);
            color: var(--white-color);
        }

        &:last-child {
            margin-right: 0;
        }
    }
}