.filter__item {
    padding-top: 45px;
    border-top: 1px solid var(--border);
    padding-bottom: 20px;
    margin-top: 50px;
}

.wrap-filter {
    align-items: center;
}

.filter__sort {
    margin-bottom: 15px;

    select {
        outline: none;
        border: none;
        background-color: transparent;
        margin-left: 20px;
        font-weight: bold;
        font-size: 18px;
    }

    span {
        font-size: 16px;
        color: var(--para-color);
        display: inline-block;
    }

    .nice-select {
        background-color: #fff;
        border-radius: 0;
        border: none;
        display: inline-block;
        float: none;
        height: 0;
        line-height: 0;
        padding-left: 18px;
        padding-right: 30px;
        font-size: 16px;
        color: var(--normal-color);
        font-weight: 700;
        cursor: pointer;

        span {
            color: var(--normal-color);
        }

        &:after {
            border-bottom: 1.5px solid #1c1c1c;
            border-right: 1.5px solid #1c1c1c;
            height: 8px;
            margin-top: 0;
            right: 16px;
            width: 8px;
            top: -5px;
        }
    }

    .nice-select.open .list {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    .nice-select .list {
        border-radius: 0;
        margin-top: 0;
        top: 15px;
    }

    .nice-select .option {
        line-height: 30px;
        min-height: 30px;
    }
}

.filter__found {
    text-align: center;
    margin-bottom: 15px;

    h6 {
        font-size: 16px;
        color: #b2b2b2;

        span {
            color: var(--normal-color);
            font-weight: 700;
            margin-right: 5px;
        }
    }
}

.filter__option {
    text-align: right;
    margin-bottom: 15px;

    span {
        font-size: 24px;
        color: #b2b2b2;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s;

        &:last-child {
            margin: 0;
        }

        &:hover {
            color: var(--primary-color);
        }
    }
}


// --------Product---------//

.product__item {
    margin-bottom: 50px;

    &:hover {

        .product__item__pic {

            .product__item__pic__hover {
                bottom: 20px;
            }
        }
    }
}

.product__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
}

.product__item__price {
    font-weight: bold;
    font-size: 18px;
}

.product__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    transition: all 0.5s;

    li {
        list-style: none;
        display: inline-block;
        margin-right: 6px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {

            a {
                background: var(--primary-color);
                border-color: var(--primary-color);

                i {
                    color: var(--white-color);
                    transform: rotate(360deg);
                }
            }
        }

        a {
            font-size: 16px;
            color: var(--normal-color);
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid var(--border);
            background: var(--white-color);
            display: block;
            border-radius: 50%;
            transition: all 0.5s;

            i {
                position: relative;
                transform: rotate(0);
                transition: all 0.3s;
            }
        }
    }
}

.product__item__text {
    text-align: center;
    padding-top: 15px;

    h5 {
        color: var(--heading-color)-2;
        font-weight: 400;
        font-size: 16px;
    }
}

.product__pagination {
    padding-top: 10px;

    a {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #b2b2b2;
        font-size: 14px;
        color: #b2b2b2;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        margin-right: 16px;
        transition: all 0.3s;

        &:hover {
            background: var(--primary-color);
            border-color: var(--primary-color);
            color: var(--white-color);
        }

        &:last-child {
            margin-right: 0;
        }
    }
}